chainlit            # Core Requirement
torch --index-url https://download.pytorch.org/whl/cu129    # Need Cuda 129!
mcp                 # MCP
requests            # HTTP library
python-dateutil     # 
python-dotenv       # too many secrets
openai              # Used for LM Studio / OpenAI emulation
transformers        # Classifier
asyncpg             # Needed for datalayer
boto3               # NEeded for Datalayer
beautifulsoup4      # Pretty parse pages please
mcp-server-time     # Greetings, Program
mcp-server-fetch    # MCP
mcp-server-git      # MCP
wikipedia-mcp       # MCP
pyjson
git+https://github.com/rsxdalv/extension_kokoro@main
git+https://github.com/rsxdalv/extension_rvc@main
git+https://github.com/rsxdalv/extension_chatterbox@main
git+https://github.com/rsxdalv/extension_openai_tts_api@main
git+https://github.com/rsxdalv/tts_webui_extension.chatterbox@main
git+https://github.com/rsxdalv/tts_webui_extension.openai_tts_api@main
git+https://github.com/rsxdalv/tts_webui_extension.rvc@main
git+https://github.com/rsxdalv/tts_webui_extension.demucs@main
git+https://github.com/rsxdalv/tts_webui_extension.kokoro@main